<mat-sidenav-container>
  <!-- This is your sidenav -->
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/tournament/info'"> Info </a>
      <a
        mat-list-item
        [routerLink]="'/tournament/players'"
        routerLinkActive="active-list-item"
      >
        Players
      </a>
      <a mat-list-item [routerLink]="'/tournament/playoff'"> Playoff </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content or body of your page-->
  <mat-sidenav-content>
    <div style="height: 90vh">Players component</div>
  </mat-sidenav-content>
</mat-sidenav-container>

<p>Players component</p>
