.description {
  width: 300px;
}

.mat-button {
  position: absolute;
  background-color: red;
  color: white;
  height: 35px;
  top: 22px;
  left: 575px;
  border-radius: 2em;
}

.label-name {
  position: absolute;
  left: 100px;
  top: 28px;
}

.label-capacity {
  position: absolute;
  left: 500px;
  top: 22.5px;
  border: 2px solid lightgrey;
  border-radius: 2em;
  padding: 5px;
}
