<div>
  <mat-toolbar color="primary">
    <span class="fill-remaining-space"></span>
    <span>Enter SCORE</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
</div>

<mat-grid-list cols="2" rowHeight="200px">
  <mat-grid-tile>
    <div class="container">
      <p>TeamA</p>
      <mat-form-field appearance="fill">
        <mat-label>Enter score</mat-label>
        <form [formGroup]="matchFormA">
          <input
            matInput
            placeholder="Score"
            formControlName="scoreA"
            required
            type="number"
          />
        </form>
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="container">
      <p>TeamB</p>
      <mat-form-field appearance="fill">
        <mat-label>Enter score</mat-label>
        <form [formGroup]="matchFormB">
          <input
            matInput
            placeholder="Score"
            formControlName="scoreB"
            required
            type="number"
          />
        </form>
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <div [style.margin-top]="'15em'">
    <button
      class="center"
      mat-raised-button
      [style.width]="'100px'"
      (click)="onSubmit()"
    >
      Save
    </button>
  </div>
</mat-grid-list>
