<mat-sidenav-container>
  <!-- This is your sidenav -->
  <mat-sidenav mode="side" opened>
    <mat-nav-list *ngIf="tournament">
      <a
        mat-list-item
        [routerLink]="['/tournament/', tournament.id]"
        routerLinkActive="active-list-item"
      >
        Info
      </a>
      <a
        mat-list-item
        [routerLink]="['/tournament/', tournament.id, 'players']"
      >
        Players
      </a>
      <a
        mat-list-item
        [routerLink]="['/tournament/', tournament.id, 'playoff']"
      >
        Playoff
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content or body of your page-->
  <mat-sidenav-content style="height: 93vh" *ngIf="tournament">
    <div id="container">
      <div class="product-details">
        <h1>{{ tournament.name }}</h1>
        <br />
        <span class="hint">
          <i
            [ngStyle]="{
              'background-color':
                tournament.state === 'open'
                  ? 'green'
                  : tournament.state === 'closed'
                  ? 'red'
                  : tournament.state === 'waiting'
                  ? 'gray'
                  : ''
            }"
            [style.color]="'white'"
            [style.width]="'150px'"
            [style.border-radius]="'5px'"
            [style.text-transfor]="'uppercase'"
            [style.text-align]="'center'"
            >{{ tournament.state }}</i
          >
        </span>

        <p class="information"></p>

        <div class="control" *ngIf="loggedIn">
          <span *ngIf="tournament.mode != 1" class="select">
            <select
              name="mods"
              #version
              [disabled]="tournament.state != 'open'"
            >
              <option *ngFor="let team of teamList" [value]="team.id">
                {{ team.name }}
              </option>
            </select>
            <button class="btn" [disabled]="tournament.state != 'open' || !userID || isParticipantTeam">
              <span class="join" (click)="join(tournament.id, version.value)">
                Join now
              </span>
            </button>
          </span>
          <span *ngIf="tournament.mode == 1">
            <button class="btn" [disabled]="tournament.state != 'open' || !userID || isParticipantUser">
              <span class="join" (click)="join(tournament.id, 'user')">
                Join now
              </span>
            </button>
          </span>
        </div>
      </div>

      <div class="product-image">
        <img src="{{ tournament.logo }}" alt="" />

        <div class="info">
          <ul>
            <li><strong>Place : </strong>{{ tournament.place }}</li>
            <li>
              <strong>Date : </strong>{{ tournament.date | date: "short" }}
            </li>
            <li><strong>Capacity : </strong>{{ tournament.numberOfPlayers }}/{{ tournament.capacity }}</li>
            <li>
              <strong>Mode: </strong>{{ tournament.mode }} vs.
              {{ tournament.mode }}
            </li>
            <li><strong>Description: </strong>{{ tournament.description }}</li>
          </ul>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
