<mat-sidenav-container>
  <!-- This is your sidenav -->
  <mat-sidenav mode="side" opened>
    <mat-nav-list *ngIf="tournament">
      <a
        mat-list-item
        [routerLink]="['/tournament/', tournament.id]"
        routerLinkActive="active-list-item"
      >
        Info
      </a>
      <a mat-list-item [routerLink]="['/tournament/', tournament.id, 'players']"> Players </a>
      <a mat-list-item [routerLink]="['/tournament/', tournament.id, 'playoff']"> Playoff </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content or body of your page-->
  <mat-sidenav-content style="height: 93vh" *ngIf="tournament">
    <div>{{ tournament.name }}</div>
    <img src="{{ tournament.logo }}" />
  </mat-sidenav-content>
</mat-sidenav-container>
