<mat-sidenav-container *ngIf="tournament">
  <!-- This is your sidenav -->
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/tournament/', tournament.id]"> Info </a>
      <a mat-list-item [routerLink]="['/tournament/', tournament.id, 'players']"  routerLinkActive="active-list-item"> Players </a>
      <a mat-list-item [routerLink]="['/tournament/', tournament.id, 'playoff']"> Playoff </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content or body of your page-->
  <mat-sidenav-content *ngIf="hasParticipants">
    <div *ngIf="teams && teams.length > 0">
      <table id="tab">
        <thead>
          <th></th>
          <th>Logo</th>
          <th>Name</th>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams; let i = index">
            <td [style.width]="'1cm'">{{i+1}}</td>
            <td [style.width]="'4cm'"><img src="{{ team.logo }}"></td>
            <td>{{team.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="users && users.length > 0">
      <table id="tab">
        <thead>
          <th></th>
          <th>Photo</th>
          <th>Name</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td [style.width]="'1cm'">{{i+1}}</td>
            <td [style.width]="'4cm'"><img src="{{ user.photo }}"></td>
            <td>{{user.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-sidenav-content>

  <mat-dialog-content *ngIf="!hasParticipants">
    <div class="not">No participants... Yet</div>
  </mat-dialog-content>



</mat-sidenav-container>
