
#tab {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5%;
  width: 60%;
}

#tab td, #tab th {
  border: 3px solid #b8d1e8;
  border-radius: 3px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

#tab tr {
  cursor: pointer;
}

img{
  height: 2cm;
  width: auto;
  border: 3px solid #006dcc
}

#tab table {
  border: 3px solid #006dcc;
  border-radius: 3px;
}

#tab td{
  text-align: center;
  align-content: center;
}

#tab tr:nth-child(even){background-color: #9ec3e3;}

#tab tr:hover {background-color: #dfe9f3;}

#tab th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #006dcc;
  color: white;
}

.not {
  margin: 10%;
  font-size: 30px;
  font-family: "georgia";
  font-weight: bold;
  text-align: center;
  color: #006dcc;
  height: 93vh;
}

.mat-button {
  background-color: red;
  color: white;
  height: 35px;
  border-radius: 2em;
}

#tab del {
  border: none;
  border-radius: 3px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  cursor: pointer;
}
