<mat-sidenav-container *ngIf="tournament">
  <!-- This is your sidenav -->
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/tournament/', tournament.id]"> Info </a>
      <a mat-list-item [routerLink]="['/tournament/', tournament.id, 'players']"  routerLinkActive="active-list-item"> Players </a>
      <a mat-list-item [routerLink]="['/tournament/', tournament.id, 'playoff']"> Playoff </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content or body of your page-->
  <mat-sidenav-content *ngIf="hasParticipants">
    <div *ngIf="teams && teams.length > 0">

      <table id="tab">
        <thead>
          <th></th>
          <th>Logo</th>
          <th>Name</th>
          <th *ngIf="loggedUser">Remove</th>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams; let i = index">

            <td [style.width]="'1cm'"><a [routerLink]="['/team', team.id]">{{i+1}}</a></td>
            <td [style.width]="'4cm'"><a [routerLink]="['/team', team.id]"><img src="{{ team.logo }}"></a></td>
            <td ><a [routerLink]="['/team', team.id]">{{team.name}}</a></td>
            <td *ngIf="loggedUser"><button mat-button (click)="onDeleteTeam(tournament.id,team.id)" *ngIf="this.loggedUser.id == team.ownerId"> Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="users && users.length > 0">
      <table id="tab">
        <thead>
          <th></th>
          <th>Photo</th>
          <th>Name</th>
          <th *ngIf="loggedUser">Remove</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td [style.width]="'1cm'"><a [routerLink]="['/user', user.id]">{{i+1}}</a></td>
            <td [style.width]="'4cm'"><a [routerLink]="['/user', user.id]"><img src="{{ user.photo }}"></a></td>
            <td><a [routerLink]="['/user', user.id]">{{user.username}}</a></td>
            <td *ngIf="loggedUser"><button mat-button (click)="onDeleteUser(tournament.id,user.id)" *ngIf="this.loggedUser.id == user.id"> Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-sidenav-content>

  <mat-dialog-content *ngIf="!hasParticipants">
    <div class="not">No participants... Yet</div>
  </mat-dialog-content>



</mat-sidenav-container>
