mat-card {
  border: 1px solid lightgrey;
  max-width: 300px;
  padding: 10px;
}
mat-card:hover {
  border: 1px;
  background: lightskyblue;
}

.container {
  margin-top: 1cm;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,300px)); /*this */
  gap:20px;
}
