<div>
  <mat-toolbar color="primary">
    <span class="fill-remaining-space"></span>
    <span>Log in</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
</div>

<form [formGroup]="loginGroup">
  <mat-grid-list cols="1" rowHeight="200px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" />
        <mat-form-field>
          <input
            id:username
            formControlName="username"
            matInput
            placeholder="Username"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <input
            id:pwd
            formControlName="password"
            matInput
            placeholder="Password"
            type="password"
            required
          />
        </mat-form-field>

        <div [style.margin-top]="'3em'">
          <button
            class="center"
            mat-raised-button
            [style.width]="'100px'"
            (click)="onSubmit()"
          >
            Enter
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
