<form [formGroup]="createGroup">
  <mat-sidenav-container>
    <!-- This is your sidenav -->
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/user/profile'"> Profile </a>
        <a mat-list-item [routerLink]="'/user/teams'"> Teams </a>
        <a
          mat-list-item
          [routerLink]="'/user/tournaments'"
          routerLinkActive="active-list-item"
        >
          Tournamets
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Content or body of your page-->
    <mat-sidenav-content>
      <div style="height: 93vh">
        <mat-grid-list cols="5" rowHeight="200" style="margin-bottom: 3rem">
          <mat-grid-tile>
            <div class="profile_photo">
              <img
                [style.width]="'125px'"
                [style.height]="'125px'"
                src="https://www.pngkey.com/png/detail/66-661551_white-blank-shield-logo-school-logo-template-free.png"
              />
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div>
              <mat-form-field id:tournament-name appearance="fill">
                <mat-label>Tournament name</mat-label>
                <input id:name formControlName="name" matInput/>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" id:date formControlName="date" />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker> </mat-datepicker>
                <mat-hint>MM/DD/YYYY</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div>
              <mat-form-field id:place appearance="fill">
                <mat-label>Place</mat-label>
                <input matInput id:place formControlName="place" matInput/>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile></mat-grid-tile>

          <mat-grid-tile>
            <div>
              <mat-form-field id:tournament-photo appearance="fill">
                <img
                  matPrefix
                  class="input-icon"
                  src="https://cdn1.iconfinder.com/data/icons/rounded-black-basic-ui/139/Photo_Add-RoundedBlack-512.png"
                  width="24px"
                  height="24px"
                />
                <mat-label>Logo</mat-label>
                <input ype="logo" matInput id:logo formControlName="logo" matInput/>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div>
              <mat-form-field id:mode appearance="fill">
                <mat-label>Mode</mat-label>
                <mat-select id:players formControlName="players" matInput>
                  <mat-option [value]="1">1v1</mat-option>
                  <mat-option [value]="2">2v2</mat-option>
                  <mat-option [value]="3">3v3</mat-option>
                  <mat-option [value]="4">4v4</mat-option>
                  <mat-option [value]="5">5v5</mat-option>
                  <mat-option [value]="6">6v6</mat-option>
                  <mat-option [value]="7">7v7</mat-option>
                  <mat-option [value]="8">8v8</mat-option>
                  <mat-option [value]="9">9v9</mat-option>
                  <mat-option [value]="10">10v10</mat-option>
                  <mat-option [value]="11">11v11</mat-option>
                  <mat-option [value]="12">12v12</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div>
              <mat-form-field id:mode appearance="fill">
                <mat-label>Capacity</mat-label>
                <mat-select id:capacity formControlName="capacity" matInput>
                  <mat-option [value]="2">2</mat-option>
                  <mat-option [value]="4">4</mat-option>
                  <mat-option [value]="8">8</mat-option>
                  <mat-option [value]="16">16</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div>
              <mat-form-field id:description appearance="fill" >
                <mat-label>Description</mat-label>
                <textarea
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="7"
                  cdkAutosizeMaxRows="7"
                  formControlName="description"
                  matInput

                ></textarea>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <button mat-raised-button (click)="onSubmit()">Create</button>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <img
                mat-card-avatar
                src="https://www.chillblast.com/learn/wp-content/uploads/2021/07/esports-player.jpg"
              />
              <mat-card-title class="label-name">LoL Tournament</mat-card-title>
              <mat-card-content class="label-capacity">2/10</mat-card-content>
              <mat-card-actions><button mat-button>-</button></mat-card-actions>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</form>

