.mat-button {
  position: absolute;
  background-color: red;
  color: white;
  height: 35px;
  top: 19px;
  left: 575px;
  border-radius: 2em;
}

.label-name {
  position: absolute;
  left: 110px;
  top: 22px;
}

.label-capacity {
  position: absolute;
  left: 500px;
  top: 21px;
  border-radius: 2em;
  padding: 5px;
  background-color: lightgrey;
}

mat-card {
  border: 2px solid #006dcc;
  max-width: 700px;
  margin: 5px;
}
mat-card:hover {
  border: 2px solid #006dcc;
  background: lightskyblue;
}
