<!DOCTYPE html>
<html>
<head></head>
<body>
<!--
<select name="mods" #version (change)="generateTree(version.value)" class="searchTerm">
  <option [value]="2">2 participants</option>
  <option [value]="4">4 participants</option>
  <option [value]="8">8 participants</option>
  <option [value]="16">16 participants</option>
</select>
-->
<div *ngIf="tournament">
  <button [hidden]="tournament.ownerId != userID" [disabled]="eightMatches.length > 0 && tournament.ownerId != userID" (click)="generateSchedule()" class="searchTerm">Generate</button>
  <button [hidden]="tournament.ownerId != userID" [disabled]="final.length > 0 && tournament.ownerId != userID" (click)="evaluate()" class="searchTerm">Evaluate</button>
  <!--<button (click)="generateSchedule()">Generate TEST</button>-->
</div>

<table class="spider" *ngIf="eightMatches && eightMatches.length > 0">
  <tbody>
  <div *ngIf="v2">
    <tr>
      <td class="name">{{eightMatches[0]?.TeamA}}</td>
      <td class="score">{{eightMatches[0]?.ScoreA}}</td>
    </tr>

    <tr>
      <td class="name">{{eightMatches[0]?.TeamB}}</td>
      <td class="score">{{eightMatches[0]?.ScoreB}}</td>
    </tr>
  </div>

    <tr *ngIf="v4">
      <td class="name" (click)="openPOP(eightMatches[0].id)">{{eightMatches[0]?.TeamA}}</td>
      <td class="score">{{eightMatches[0]?.ScoreA}}</td>
      <td class="border_down"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr *ngIf="v4">
      <td class="name">{{eightMatches[0]?.TeamB}}</td>
      <td class="score">{{eightMatches[0]?.ScoreB}}</td>
      <td class="border_top"> </td>
      <td class="border_left"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr *ngIf="v4">
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="border_left"> </td>
      <td class="name">{{quarterMatches[0]?.TeamA}}</td>
      <td class="score">{{quarterMatches[0]?.ScoreA}}</td>
      <td *ngIf="v8" class="border_down"> </td>
      <td *ngIf="v8" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr *ngIf="v4">
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="border_top"> </td>
      <td class="name">{{quarterMatches[0]?.TeamB}}</td>
      <td class="score">{{quarterMatches[0]?.ScoreB}}</td>
      <td *ngIf="v8" class="border_right"> </td>
      <td *ngIf="v8" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr *ngIf="v4">
      <td class="name">{{eightMatches[1]?.TeamA}}</td>
      <td class="score">{{eightMatches[1]?.ScoreA}}</td>
      <td class="border_down"> </td>
      <td class="border_left"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td *ngIf="v8" class="border_right"> </td>
      <td *ngIf="v8" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr *ngIf="v4">
      <td *ngIf="v8 || v16" class="name">{{eightMatches[1]?.TeamB}}</td>
      <td *ngIf="v8 || v16" class="score">{{eightMatches[1]?.ScoreB}}</td>
      <td *ngIf="v8 || v16" class="border_top"> </td>
      <td *ngIf="v8 || v16" class="empty_short"> </td>
      <td *ngIf="v8 || v16" class="empty_long"> </td>
      <td *ngIf="v8 || v16" class="empty_short"> </td>
      <td *ngIf="v4 && !v8 && !v16" class="name">{{eightMatches[1]?.TeamB}}</td>
      <td *ngIf="v4 && !v8 && !v16" class="score">{{eightMatches[1]?.ScoreB}}</td>
      <td *ngIf="v4 && !v8 && !v16" class="border_top"> </td>
      <td *ngIf="v4 && !v8 && !v16" class="empty_short"> </td>
      <td *ngIf="v4 && !v8 && !v16" class="name">{{bronze[0]?.TeamA}}</td>
      <td *ngIf="v4 && !v8 && !v16" class="score">{{bronze[0]?.ScoreA}}</td>
      <td *ngIf="v8" class="border_right"> </td>
      <td *ngIf="v8" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr *ngIf="v4">
      <td *ngIf="v8 || v16" class="empty_long"></td>
      <td *ngIf="v8 || v16" class="empty_short"></td>
      <td *ngIf="v8 || v16" class="empty_short"></td>
      <td *ngIf="v8 || v16" class="empty_short"></td>
      <td *ngIf="v8 || v16" class="empty_long"></td>
      <td *ngIf="v8 || v16" class="empty_short"></td>
      <td *ngIf="v4 && !v8 && !v16" class="empty_long"></td>
      <td *ngIf="v4 && !v8 && !v16" class="empty_short"></td>
      <td *ngIf="v4 && !v8 && !v16" class="empty_short"></td>
      <td *ngIf="v4 && !v8 && !v16" class="empty_short"></td>
      <td *ngIf="v4 && !v8 && !v16" class="name">{{bronze[0]?.TeamB}}</td>
      <td *ngIf="v4 && !v8 && !v16" class="score">{{bronze[0]?.ScoreB}}</td>
      <td *ngIf="v8" class="border_right"></td>
      <td *ngIf="v8" class="border_down"></td>
      <td *ngIf="v8" class="name">{{semiMatches[0]?.TeamA}}</td>
      <td *ngIf="v8" class="score">{{semiMatches[0]?.ScoreA}}</td>
      <td *ngIf="v16" class="border_down"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr *ngIf="v8">
      <td class="empty_long"></td>
      <td class="empty_short"></td>
      <td class="empty_short"></td>
      <td class="empty_short"></td>
      <td class="empty_long"></td>
      <td class="empty_short"></td>
      <td class="border_right"></td>
      <td class="empty_short"></td>
      <td class="name">{{semiMatches[0]?.TeamB}}</td>
      <td class="score">{{semiMatches[0]?.ScoreB}}</td>
      <td *ngIf="v16" class="border_right"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr *ngIf="v8">
      <td class="name">{{eightMatches[2]?.TeamA}}</td>
      <td class="score">{{eightMatches[2]?.ScoreA}}</td>
      <td class="border_down"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td *ngIf="v16" class="border_right"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr  *ngIf="v8">
      <td class="name">{{eightMatches[2]?.TeamB}}</td>
      <td class="score">{{eightMatches[2]?.ScoreB}}</td>
      <td class="border_top"> </td>
      <td class="border_left"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td *ngIf="!v16" class="name">{{bronze[0]?.TeamA}}</td>
      <td *ngIf="!v16" class="score">{{bronze[0]?.ScoreA}}</td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="border_right"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr *ngIf="v8">
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="border_left"> </td>
      <td class="name">{{quarterMatches[1]?.TeamA}}</td>
      <td class="score">{{quarterMatches[1]?.ScoreA}}</td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td *ngIf="!v16" class="name">{{bronze[0]?.TeamB}}</td>
      <td *ngIf="!v16" class="score">{{bronze[0]?.ScoreB}}</td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="border_right"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr *ngIf="v8">
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="border_top"> </td>
      <td class="name">{{quarterMatches[1]?.TeamB}}</td>
      <td class="score">{{quarterMatches[1]?.ScoreB}}</td>
      <td class="border_top"> </td>
      <td class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="border_right"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr *ngIf="v8">
      <td class="name">{{eightMatches[3]?.TeamA}}</td>
      <td class="score">{{eightMatches[3]?.ScoreA}}</td>
      <td class="border_down"> </td>
      <td class="border_left"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="border_right"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr *ngIf="v8">
      <td class="name">{{eightMatches[3]?.TeamB}}</td>
      <td class="score">{{eightMatches[3]?.ScoreB}}</td>
      <td class="border_top"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="border_right"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
      <td *ngIf="v16" class="empty_long"> </td>
      <td *ngIf="v16" class="empty_short"> </td>
    </tr>

    <tr *ngIf="v16">
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="name">{{final[0]?.TeamA}}</td>
      <td class="score">{{final[0]?.ScoreA}}</td>
    </tr>

    <tr *ngIf="v16">
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="border_top"> </td>
      <td class="name">{{final[0]?.TeamB}}</td>
      <td class="score">{{final[0]?.ScoreB}}</td>
    </tr>

    <tr *ngIf="v16">
      <td class="name">{{eightMatches[4]?.TeamA}}</td>
      <td class="score">{{eightMatches[4]?.ScoreA}}</td>
      <td class="border_down"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
    </tr>

    <tr *ngIf="v16">
      <td class="name">{{eightMatches[4]?.TeamB}}</td>
      <td class="score">{{eightMatches[4]?.ScoreB}}</td>
      <td class="border_top"> </td>
      <td class="border_left"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="name">{{bronze[0]?.TeamA}}</td>
      <td class="score">{{bronze[0]?.ScoreA}}</td>
    </tr>

    <tr *ngIf="v16">
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="border_left"> </td>
      <td class="name">{{quarterMatches[2]?.TeamA}}</td>
      <td class="score">{{quarterMatches[2]?.ScoreA}}</td>
      <td class="border_down"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="name">{{bronze[0]?.TeamB}}</td>
      <td class="score">{{bronze[0]?.ScoreB}}</td>
    </tr>

    <tr *ngIf="v16">
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="border_top"> </td>
      <td class="name">{{quarterMatches[2]?.TeamB}}</td>
      <td class="score">{{quarterMatches[2]?.ScoreB}}</td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
    </tr>

    <tr *ngIf="v16">
      <td class="name">{{eightMatches[5]?.TeamA}}</td>
      <td class="score">{{eightMatches[5]?.ScoreA}}</td>
      <td class="border_down"> </td>
      <td class="border_left"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
    </tr>

    <tr *ngIf="v16">
      <td class="name">{{eightMatches[5]?.TeamB}}</td>
      <td class="score">{{eightMatches[5]?.ScoreB}}</td>
      <td class="border_top"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
    </tr>

    <tr *ngIf="v16">
      <td class="empty_long"></td>
      <td class="empty_short"></td>
      <td class="empty_short"></td>
      <td class="empty_short"></td>
      <td class="empty_long"></td>
      <td class="empty_short"></td>
      <td class="border_right"></td>
      <td class="empty_short"></td>
      <td class="name">{{semiMatches[1]?.TeamA}}</td>
      <td class="score">{{semiMatches[1]?.ScoreA}}</td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
    </tr>

    <tr *ngIf="v16">
      <td class="empty_long"></td>
      <td class="empty_short"></td>
      <td class="empty_short"></td>
      <td class="empty_short"></td>
      <td class="empty_long"></td>
      <td class="empty_short"></td>
      <td class="border_right"></td>
      <td class="border_top"></td>
      <td class="name">{{semiMatches[1]?.TeamB}}</td>
      <td class="score">{{semiMatches[1]?.ScoreB}}</td>
      <td class="border_top"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
    </tr>

    <tr *ngIf="v16">
      <td class="name">{{eightMatches[6]?.TeamA}}</td>
      <td class="score">{{eightMatches[6]?.ScoreA}}</td>
      <td class="border_down"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
    </tr>

    <tr *ngIf="v16">
      <td class="name">{{eightMatches[6]?.TeamB}}</td>
      <td class="score">{{eightMatches[6]?.ScoreB}}</td>
      <td class="border_top"> </td>
      <td class="border_left"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
    </tr>

    <tr *ngIf="v16">
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="border_left"> </td>
      <td class="name">{{quarterMatches[3]?.TeamA}}</td>
      <td class="score">{{quarterMatches[3]?.ScoreA}}</td>
      <td class="border_right"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
    </tr>

    <tr *ngIf="v16">
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="border_right"> </td>
      <td class="border_top"> </td>
      <td class="name">{{quarterMatches[3]?.TeamB}}</td>
      <td class="score">{{quarterMatches[3]?.ScoreB}}</td>
      <td class="border_top"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
    </tr>

    <tr *ngIf="v16">
      <td class="name">{{eightMatches[7]?.TeamA}}</td>
      <td class="score">{{eightMatches[7]?.ScoreA}}</td>
      <td class="border_down"> </td>
      <td class="border_left"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
    </tr>

    <tr *ngIf="v16">
      <td class="name">{{eightMatches[7]?.TeamB}}</td>
      <td class="score">{{eightMatches[7]?.ScoreB}}</td>
      <td class="border_top"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_short"> </td>
      <td class="empty_long"> </td>
      <td class="empty_short"> </td>
    </tr>
  </tbody>
</table>
</body>
</html>