.spider {
  margin: 5%;
  padding: 5%;
  width: 80%;
  border-collapse: collapse;
  border-radius: 5px;
}

.name {
  height: 40px;
  width: 200px;
  border: 3px solid #17499f;
  cursor: pointer;
  background-color: #4d75ba;
  color: whitesmoke
}

.score {
  flex-basis: 20%;
  height: 40px;
  width: 50px;
  border: 3px solid #17499f;
  cursor: pointer;
  background-color: #4d75ba;
  color: whitesmoke;
  text-align: center;
}

.empty_short {
  height: 40px;
  width: 50px;
}

.empty_long {
  height: 40px;
  width: 200px;
}

.border_top {
  border-top: 3px solid #17499f;
}

.border_down {
  border-bottom: 3px solid #17499f;
}

.border_left {
  border-left: 3px solid #17499f;
}

.border_right {
  border-right: 3px solid #17499f;
}

.searchTerm {
  width: 30%;
  border: 3px solid #006dcc;
  border-right: 33px solid #006dcc;
  padding: 5px;
  margin: 2%;
  height: 60px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #006dcc;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}