<div>
  <mat-toolbar color="primary">
    <span class="fill-remaining-space"></span>
    <span>Registration</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
</div>

<form [formGroup]="registerGroup">
  <div *ngIf="isUserExist" [style.color]="'red'">
    <span>User already exist</span>
  </div>
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile
      ><div class="controles-container">
        <input type="hidden" />
        <mat-form-field >
          <input
            id:name
            formControlName="name"
            matInput
            placeholder="Name"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input id:username formControlName="username" matInput placeholder="Username" required/>
        </mat-form-field>
        <mat-form-field>
          <input
            id:email
            formControlName="email"
            matInput
            placeholder="Email"
            required
          />
        </mat-form-field></div
    ></mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" />
        <mat-form-field>
          <input
            id:lastname
            formControlName="lastname"
            matInput
            placeholder="Lastname"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            id:pwd
            formControlName="password"
            matInput
            placeholder="Password"
            type="password"
            required
          />
        </mat-form-field>
        <div [style.margin-top]="'4em'">
          <button class="center" mat-raised-button [style.width]="'100px'" (click)="onSubmit()">
            Enter
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
